.admin-products-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.admin-products-page header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #005bb5;
    color: white;
}

.title-gestor{
    color: #FFC220;
}

.admin-products-page header h1 {
    margin: 0;
    font-size: 24px;
}

.admin-products-page header button {
    background-color: white;
    color: #005bb5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.admin-products-page header button:hover {
    background-color: #f0f0f0;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.product-card {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    max-height: 200px;
    object-fit: cover;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.product-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.product-card button {
    margin-top: 10px;
    padding: 10px;
    background-color: #005bb5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #004494;
}

.product-card .edit-button {
    background-color: #ffa500;
    margin-right: 10px;
}

.product-card .edit-button:hover {
    background-color: #cc8400;
}

.product-card .delete-button {
    background-color: #d9534f;
}

.product-card .delete-button:hover {
    background-color: #c9302c;
}

.add-product-button:hover {
    background-color: #004494;
}

.add-product-button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 10px;
    background-color: #005bb5; /* Azul principal */
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-product-button:hover {
    background-color: #004494; /* Azul oscuro */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Más sombra */
    transform: translateY(-2px); /* Efecto flotante */
}

.add-product-button:active {
    background-color: #003366; /* Azul más oscuro */
    transform: translateY(1px); /* Pulsación */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.center-button {
    text-align: center;
}

.filters-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    width: 100%;
    max-width: 1300px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.filter-group {
    display: flex;
    flex-direction: row;
    position: relative;
}

.filter-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

.filter-group input::placeholder {
    color: #aaa;
    font-style: italic;
}

.filter-group input:focus {
    border-color: #005bb5;
    box-shadow: 0 0 8px rgba(0, 91, 181, 0.2);
}

.price-range input {
    margin-left: 5px;
}

.filter-group select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #555;
    appearance: none; /* Para ocultar el estilo predeterminado del navegador */
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23555" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
}

.filter-group select:hover {
    border-color: #005bb5;
    box-shadow: 0 0 8px rgba(0, 91, 181, 0.2);
}

.filter-group select:focus {
    border-color: #004494;
    box-shadow: 0 0 10px rgba(0, 68, 148, 0.3);
    color: #333;
}

.filter-group select option {
    padding: 10px;
    background-color: #fff;
    color: #555;
    font-size: 14px;
}

.eliminar-button {
    margin-left: 5px;
}