products-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
  position: sticky;
  top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #005bb5;
    color: white;
}

.logo{
  color: #FFC220;
}

.user-profile, .cart {
    margin-left: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  max-height: 200px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.product-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.product-card button {
  margin-top: 10px;
  padding: 10px;
  background-color: #005bb5;
  color: #FFC220;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #004494;
}

.user-profile {
    position: relative;
    cursor: pointer;
  }
  
  .user-name {
    font-weight: bold;
    color: #FFC220;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 100%;
  }
  
  .dropdown-menu button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .dropdown-menu button:hover {
    text-decoration: underline;
  }

  .filters-section {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    border-radius: 8px;
    margin: 20px 0;
    margin-left: 10px;
  }
  
  .filter-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    transition: border-color 0.3s;
    border-color: black;
  }
  
  .filter-input:focus {
    border-color: #005bb5;
    outline: none;
  }
  
  .filter-select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
    border-color: black;
  }
  
  .price-filters {
    display: flex;
    gap: 10px;
    flex: 1;
  }
  
  .filters-section input::placeholder {
    color: #999;
    font-style: italic;
  }
  
  .filters-section input,
  .filters-section select {
    max-width: 200px;
  }
  
  .filters-section select {
    text-align: center;
  }
  
  .filters-section select:hover,
  .filters-section input:hover {
    border-color: #0073e6;
  }
  
  .product-card button:disabled {
    background-color: #ccc;
    color: #666;
    border: none;
    cursor: not-allowed;
}

.recommended-products, .best-selling-products {
  margin: 20px 0;
  margin-top: 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.recommended-products h2, .best-selling-products h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  color: #FFC220;
  margin-left: 10px;
}

.productos-todos {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  color: #FFC220;
  margin-left: 10px;
}
